

    body {

        width: 100%;
        height: 100%; 
        margin: 0;
        padding: 0;

        }

        .logo {
            width: 130px;
            padding: 0px;
            margin-left: 0px;
            margin-top: 0px;
        }


        

        }

        .contact {

            width: 80%;
            margin-left: 100px;
            padding: 50px;
            margin-top:10px;
            background-color: white;

        }

       
        .nav-link {
            font-size: 18px;
            cursor: pointer;
                      
        }

        .nav-link:hover,.nav-link:active{
        }

        .work {
            text-align: center; 
            color: #FF6600; 
            font-size: 30px
        }

        #services {
            color: black; 
            font-size: 20px;
        }

   
        #footer .footer-top .footer-newsletter input[type="email"] {
            border: 0;
            padding: 6px 8px;
            width: 65%;
            background-color: #3B4045;

        }

        #footer .footer-top .footer-newsletter input[type="submit"] {
            background: ;
            border: 0;
            width: 35%;
            padding: 6px 0;
            text-align: center;
            color: #3B4045;
            transition: 0.3s;
            cursor: pointer;
        }

        #footer .footer-top .footer-newsletter input[type="submit"]:hover {
            background: ;
        }

        #footer .copyright {
            text-align: center;
            padding-top: 10px;
        }

        #footer .credits {
            text-align: center;
            font-size: 13px; 

        }


        .fa-cogs {
            color: #FE812E;
        }

        .fa-user-alt {
            color: #FE812E;   
        }

        .fa-credit-card {
            color: #FE812E;

        }

        .fa-check-circle {
            color: #FE812E;

        }

        .fa-book-reader {
            color: #FE812E;
        }

        .fa-edit {
            color: #FE812E;
        }

        .fa-chart-line {
            color: #FE812E;
        }

        .fa-users {
           color: #FE812E; 
        }

        .stages {
            font-size: 30px;
        }

        .bottom {
            background-color: black;
            font-size: 15px;
            text-align: center;
            color: white;
            line-height: -35px;
        }

        #myBtn {
            display: none; 
            position: fixed;
            bottom: 20px; 
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #FF6600;
            color: white;
            cursor: pointer;
            padding: 15px; 
            border-radius: 10px; 
            font-size: 18px;
        }

        #myBtn:hover {
            background-color: #555; 
        }


        .search-services {
        background: url('img/image 21.jpg') no-repeat center center; 
        background-size: cover; 
        color: black; 
        margin-top: -70px;
        height: 100%;

        }

        .search-section {
            background: url('img/image 24.jpg') no-repeat center center; 
           background-size: cover; 
            margin-top: 30px;
        }

        .section-login {
            margin-left: 500px;
            width: 900px;
        }



        .hovereffect {
            width: 100%;
            height: 100%;
            float: left;
            overflow: hidden;
            position: relative;
            text-align: center;
            cursor: default;
        }

        .hovereffect .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
        }

        .hovereffect img {
            display: block;
            position: relative;
            -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
        }

        .hovereffect:hover img {
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
            filter: grayscale(1) blur(3px);
            -webkit-filter: grayscale(1) blur(3px);
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }

        .hovereffect h2 {
            text-transform: uppercase;
            text-align: center;
            position: relative;
            font-size: 17px;
            padding: 10px;
            background: rgba(0, 0, 0, 0.6);
        }

        .hovereffect a.info {
            display: inline-block;
            text-decoration: none;
            padding: 7px 14px;
            border: 1px solid #fff;
            margin: 50px 0 0 0;
            background-color: transparent;
        }

        .hovereffect a.info:hover {
            box-shadow: 0 0 5px #fff;
        }

        .hovereffect a.info, .hovereffect h2 {
            -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
            transform: scale(0.7);
            -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
            opacity: 0;
            filter: alpha(opacity=0);
            color: #fff;
            text-transform: uppercase;
        }

        .hovereffect:hover a.info, .hovereffect:hover h2 {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
}



        .carousel-title {
            text-align: center;
        }

        .carousel-text {
            text-align: center;
            font-size: 25px;
        }

        .work-writeup {
            font-size: 20px;

       }

       .profile {
        margin: 20px 0;
       }

       .profile-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;

       }

       .profile-user-pic {
        float: none;
        margin-left: 0 auto;
        width: 50%;
        height: 50%;
       }

       .profile-user-name {
        color: #5a73a1;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 7px;
       }

       .profile-user-job {
        text-transform: uppercase;
        color: #5babd1;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 15px;
       }

       .profile-user-buttons{
        text-align: center;
        margin-top: 10px;
       }

       .btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 6px 15px
        margin-right: 5px;
       }



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
